.container{
    text-align: center;
    margin: 23px;
}
table{
    margin: auto;
}
input{
    border-radius: 21px;
    border: 5px solid #244624 ;
    font-size: 34px;
}
button{
    border-radius: 20px;
    font-size: 40px;
    background-color: palevioletred;
    width: 102px;
    height: 59px;
}
.calculator{
    background-color: grey;
    padding: 23px;
    display: inline-block;
    display: inline-block;
    border-radius: 53px;
}