@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 { background-color: #FF6766; }
.box-2 { background-color: #3C3C3C; }
.box-3 { background-color: #66A182; }

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-two {
	color: #FFF;
	transition: all 0.5s;
	position: relative; 
  }
  .btn-two span {
	z-index: 2; 
	display: block;
	position: absolute;
	width: 100%;
	height: 100%; 
  }
  .btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.1);
  }
  .btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(0, 255, 17, 0.2);
	background-color: rgba(0, 255, 38, 0.1);
  }
  .btn-two:hover::before {
	transform: rotate(-45deg);
	background-color: rgba(255,255,255,0);
  }
  .btn-two:hover::after {
	transform: rotate(45deg);
	background-color: rgba(255,255,255,0);
  }