h1 {
	background-size: contain;
	text-align: center;
	color: black;
}
h1::before {
	content: attr(data-heading);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0) 45%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(255, 255, 255, 0) 55%,
		rgba(255, 255, 255, 0) 100%
	);
	color: transparent;
	animation: shine 1s infinite;
	background-size: 200%;
}

@-webkit-keyframes shine {
	0% {
		background-position: -100%;
	}
	100% {
		background-position: 100%;
	}
}

@keyframes shine {
	0% {
		background-position: -100%;
	}
	100% {
		background-position: 100%;
	}
}
/* Not needed for demo */
@font-face {
	font-family: "Open sans";
}

h1 {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 20vw;
	margin: 0;
	font-family: "Open sans";
	font-weight: 700;
}
