body{
    margin: 0;
    padding: 0;
    background: #2d3436;
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .btn{
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #ff7675;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn::before{
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  .btn1::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .btn1:hover::before{
    height: 380%;
  }