.Srishti-btn {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  position: absolute;
  background-color:  rgba(251, 251, 251, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
	color: white;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
}

.Srishti-btn:after {
  content: "";
  background-color: #343432;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.Srishti-btn:hover:after {
  top: 0px;
  left: 0px;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
	text-shadow: 1px 1px 2px #427388;
}

@media (min-width: 768px) {
  .Srishti-btn {
    padding: 13px 50px 13px;
  }
}
